<div style="padding: 50px;">
<table class="table table-hover">
    <thead class="thead-light">
      
        <th>Created</th>
        <th>Updated</th>
        <th>Total $</th>
        <th>Status</th>
        <th>
            <a class="btn btn-outline-success" routerLink="/customerorder"><i class="fa fa-plus-square"></i> New order</a>

        </th>
    </thead>
    <tbody>
        <tr *ngFor="let order of ordersList | filter:term">
         
            <th (click)="openForEdit(order.OrderId)">{{order.DateCreated | date:'yyyy-MM-dd'}}</th>
            <th (click)="openForEdit(order.OrderId)">{{order.DateUpdated | date:'yyyy-MM-dd'}} </th>
            <th (click)="openForEdit(order.OrderId)">{{order.GTotal}}</th>
            <th (click)="openForEdit(order.OrderId)">{{order.Status}}</th>
            <td>
                <a class="btn text-danger" (click)="onOrderDelete(order.OrderId)"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    </tbody>
</table>
</div>
